body{
    background-color: rgb(138, 133, 133);
}

.text1{
    color: aqua;
}
.text2{
    color: rgb(231, 159, 24);
}
.text3{
    color: rgb(28, 15, 99);
}
.text4{
    color: rgb(6, 182, 79);
}
.text5{
    color: rgb(206, 13, 93);
}
.text6{
    color: rgb(190, 219, 22);
}
.text7{
    color: rgb(83, 236, 12);
}
.text8{
    color: rgb(250, 17, 238);
}
.text9{
    color: rgb(238, 53, 6);
}
.text10{
    color: rgb(255, 0, 0);
}
.text11{
    color: rgb(255, 0, 0);
}
.block1{
    background-color: blue;
    float: left;
    width: 50%;
    text-align:center;
    
    
    
}
.block2{
    float : left;
    background-color: rgb(230, 83, 15);
    width: 50%;
    text-align:center;
    
}
.block3{
    background-color: rgb(86, 3, 88);
    float : left;
    width: 100%;
    margin-right: 2%;
    text-align:center;
}

.menu1{
    background-color: rgb(86, 3, 88);
    float : left;
    width: 50%;
    text-align:center;
    font-size: 17px;
}
.menu2{
    background-color: rgb(86, 3, 88);
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-top: 2px;
    font-size: 15px;
    margin-left: 100px;
    margin-right: 100px;
}
